#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.25rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

body {
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.actions {
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.github-link {
  color: black;
  font-size: 2.5rem;
  align-self: center;
}
.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.preview {
  width: 65%;
}

.card {
  padding: 1.5rem 3rem;
  aspect-ratio: 1 / 1.4141;
  box-shadow: 0 0 0.3rem 0.01rem #d1d1d1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-weight: bold;
  font-style: oblique;
}
.name {
  font-size: 0.7rem;
}

.contact-details {
  display: flex;
  gap: 1rem;

  flex-wrap: wrap;
}

.education,
.experience,
.projects,
.project,
.skills,
.experience-container,
.project-container,
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.education-container {
  width: 100%;
  margin-bottom: 1rem;
}

hr {
  width: 100%;
}

.education-info2,
.education-info {
  display: flex;
  justify-content: space-between;
}

.date {
  font-style: italic;
}

.experience-container,
.project-container {
  gap: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.role-date {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.title-link {
  display: flex;
  gap: 0.5rem;
}

ul {
  padding: 0 1rem;
  margin: 0;
}

li {
  margin-top: 0.3rem;
  text-align: start;
  list-style-type: disc;
  display: list-item;
}

.skills-container * {
  display: flex;
  gap: 0.5rem;
}

.skill {
  font-weight: bold;
}

.skill-detail {
  text-align: left;
}

.input-container {
  background-color: blue;
}
